
.header-container{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.header-logo{
    width: 70%;
}

.nav{
    width: 30%;
}

.anchor{
    text-decoration: none;
    margin-right: 20px;
}

.login-btn{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}