
.header-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.header-logo{
    font-size: 22px;
}

.nav{
    justify-self: end;   
}

.nav ul {
    display: flex;
    padding: 0px;
    list-style: none;
}

.anchor{
    text-decoration: none;    
    margin-right: 20px;
    color: lightgray;
}

.login-btn{
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: #86C232;
    color: #F7F9FE;
}

.user-name{
    font-weight: bold;
}

@media (max-width: 668px) {
    .header-container {
        display: block;
    }
}
