
.login-container{
    text-align: center; 
    max-width: 500px;
    margin: auto;
}

.form-input{
    border: none;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.form-btn {
    width: 100%;
    border: none;
    padding: 10px 20px;
    color: #F7F9FE;
    background-color: #86C232;
    border-radius: 3px;
    cursor: pointer;
}

.link-highlighter{
    text-decoration: underline;
    color: tomato;
    cursor: pointer;
}

.loginBtn{
    border: 1px solid #86C232;
    color: lightgray;
    background-color: #222629;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}